node_modules
downloads
.DS_Store
.env
env
config/arweave-keyfile.json
config/arweave-keyfile**
config/google-service-account-key.json
speech-synthesizer/myenv
speech-synthesizer/packages
/media
data/media/*
!data/media/.gitkeep
!data/media/web/.gitkeep
**-fromOlderServer.js
**-fromOldServer.js
**-fromOlderServer.yml
**-fromOlderServer
**-fromOldServer
text-generator/packages
text-generator/myenv
ollama_data
elasticsearch_data
mac-client/mac-client-env/
mac-client/logs/
*.log
examples/
docs/archive/