node_modules
downloads
docker-compose.yml
.DS_Store
.env
env
config/arweave-keyfile.json
config/arweave-keyfile*
config/google-service-account-key.json
speech-synthesizer/myenv
speech-synthesizer/packages
text-generator/packages
text-generator/myenv
media
*-fromOlderServer.js
*-fromOldServer.js
*-fromOlderServer.yml
*-fromOlderServer
*-fromOldServer
